

#navbar{
    height: 80px;
    background-color: rgb(209, 205, 205);
}


#navbar .container-fluid .row {
    height: 70px;
}

#navbar .container-fluid .row .col-navbar{
    padding-top: 20px;
}

#navbar .container-fluid .row .col-navbar a{
    color:black;
}

#iniciar-sesion-buttom{

    background-color: black;
    border: 1px solid black;

    font-weight: 400;
    text-align: center;
    width:150px;
    height: 30px;
}

#navbar .container-fluid .row .col-navbar #iniciar-sesion-buttom a{
    color:beige;
}

#descripcion-pyme{
    height: 540px;
    width: 90%;
    margin:0 auto;
    margin-top: 30px;
    display:flex;
}

#fotos-perfil{
    height: 100%;
    width: 50%;
    border: solid 2px rgb(197, 190, 190);
}

#imagen-principal{

    height: 70%;
    background-color: beige;
}
#imagen-principal img{
    width: 100%;
    height: 100%;
}
#imagenes-secundarias{
    height: 30%;
    width: 100%;
    display:flex;
    background-color: beige;
}
.imagen-secundaria{

    height: 100%;
    width: 25%;
    background-color: beige;
    border: solid 3px white;
}
.imagen-secundaria img{
    width: 100%;
    height: 100%;
}


#descripcion-perfil{
    height: 100%;
    width: 50%;
}

#nombre-emprendimiento{
    height: 60px;
    width: 100%;
    text-align:center;
    padding-top: 20px;
}
#categorias-emprendimiento{
    height: 60px;
    width: 80%;
    text-align:center;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    padding-left: 80px;
    border-bottom: solid 1px rgb(122, 117, 117);
}

.categoria{
    height: 30px;
    width: 100px;
    background-color: rgb(31, 66, 82);
    color:white;
    text-align:center;
    margin-left: 30px;

}

#datos-emprendimiento{
    height: 230px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    border-bottom: solid 1px rgb(122, 117, 117);
    display: flex;
}
.dato{
    height: 100%;
    width: 50%;
}
#descripcion-emprendimiento{
    height: 170px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;

}

.col-datos-representante{
    margin-top:20px;
    margin-left: 40px;
}
.datos-representante{

    height: 50px;
    width: 300px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 20px;
    border:solid 2px rgb(141, 137, 137)
}
.datos-representante a{
    text-decoration: none;
    color: black;
}
.col-descargar-documentos{
    margin-top:40px;
    margin-left: 190px;
}
#botones-filtro{
    height:100px;
    width:70%;
    display:flex;
    margin:0 auto;
    padding-left: 150px;
    padding-top: 40px;
}
.boton-filtro{
    height: 40px;
    width:150px;
    background-color: rgb(67, 67, 68);
    border: solid 1px rgb(67, 67, 68); 
    margin-left: 40px;
    text-align: center;
    padding-top: 7px;
}

.boton-filtro a{
    text-decoration: none;
    color:white;
}


