<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/edit-perfil-usuario.css" type="text/css">
    <title>Editar perfil usuario</title>
  </head>
  <body>

    <nav class="nav-vertical" id="menu_side">
      <div id="div-menu-icono">
        <i id="menu_icono" class="fas fa-bars"></i>
      </div>

      <div id="opciones-menu">

        <a href="">
          <div class="opcion">
            <i class="fa-solid fa-chart-line"></i>
            <h4>Estaisticas</h4>
          </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=967691029&text=Hola,%20necesito%20ayuda%20en%20el%20formulario%20de%20inscripci%C3%B3n.">
          <div class="opcion">
            <i class="fa-solid fa-circle-question"></i>
            <h4>Encuesta</h4>
          </div>
        </a>

        <a href="#">
          <div class="opcion">
            <i class="fas fa-gear"></i>
            <h4>Editar perfil</h4>
          </div>
        </a>
        
      </div>
    </nav>
    <div id="contenido">
      <nav id="horizontal">
        <div id="usuario">
          <div id="usuario-texto">
            <div id="bloque-usuario-texto">
              <a id="Administrador" href="#">Usuario</a>
            </div>
            <div id="bloque-usuario-texto">
              <a id="Account" href="#">Account settings</a>
            </div>
          </div>
          <div id="foto-usuario">
            <div id="div-foto">
              
            </div>
          </div>
        </div>
      </nav>
      <div id="datos-del-usuario">
        <div class="columna-datos">
          <div id="editar-perfil-encabezado">
            <h2>Editar mi perfil</h2>
          </div>
              <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Nombre">
              <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Apellido 1">
              <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Apellido 2">
              <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Dirección">
              <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Rut sin punto y con guión">
                <select name="Categorias" class="datos-editar-perfil" aria-placeholder="categorias">
                  <option value="categorias">categorias</option>
                  <option value="categoria1">categoria1</option>
                  <option value="categoria2">categoria2</option>
                  <option value="categoria3">categoria3</option>
                  <option value="categoria4">categoria4</option>
                  <option value="categoria5">categoria5</option>
                  <option value="categoria6">categoria6</option>
                </select>
                <select name="empresa-registrada" class="datos-editar-perfil" aria-placeholder="Empresa registrada(si/no)">
                  <option value="categorias">Empresa registrada (si/no)</option>
                  <option value="categorias">Si</option>
                  <option value="categoria1">No</option>
                </select>
        </div>
        <div class="columna-datos">
          <div id="editar-perfil-encabezado">
            <h5>Estado de solicitud</h5>
          </div>
          <INPUT class="datos-editar-perfil" type="tel" name="nombre" placeholder="Numero de celular">
            <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Email">
            <INPUT class="datos-editar-perfil" type="password" name="nombre" placeholder="Contraseña">
            <INPUT class="datos-editar-perfil" type="password" name="nombre" placeholder="Repetir contraseña">
            <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Nombre pyme">
            <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Agregar subcategorias">
              <INPUT class="datos-editar-perfil" type="text" name="nombre" placeholder="Antiguedad">
            <select name="medioDePago" class="datos-editar-perfil" aria-placeholder="Medio de pago">
              <option value="categorias">Medio de pago</option>
              <option value="categorias">efectivo</option>
              <option value="categoria1">transferencia</option>
              <option value="categoria1">tarjeta</option>
            </select>
          
        </div>
        <div class="columna-datos">
          <div id="editar-perfil-encabezado">
            <h2>Editar mi perfil</h2>
          </div>
          <div id="fotos-perfil">
            <a id="imagen-principal" href="#">
              <div id="imagen-principal">

              </div>
            </a>
            <div id="imagenes-secundarias">
              <a href="#" class="imagen-secundaria">
              </a>
              <a href="#" class="imagen-secundaria">
              </a>
              <a href="#" class="imagen-secundaria">
              </a>
              <a href="#" class="imagen-secundaria">
              </a>

            </div>
          </div>
          <div id="boton-seleccionar-imagen">
            <button class="subirArchivo">Subir imágenes</button>
          </div>
        </div>
        
      </div>
      <textarea id="descripcion" name="description" rows="10" cols="50">descripcion</textarea>
      <div id="imagenes-formulario">
        <div class="titulo-adjuntar">
          <h2>Comentario de Moderador</h2>
          <div id="comentario-moderador">
            <p>sadsad</p>
          </div>        
        </div>

        <div class="titulo-adjuntar">
          <h2>Archivos Adjuntos</h2>
        </div>
      </div>
        <div id="imagenes">
          <div class="imagenes-de-archivos">
            <img src="img/archivo.png">
          </div>
          <div class="imagenes-de-archivos">
            <img src="img/archivo.png">
          </div>
          <div class="imagenes-de-archivos">
            <img src="img/archivo.png">
          </div>
          <div class="imagenes-de-archivos">
            <img src="img/archivo.png">
          </div>
        </div>
        <div id="botones-elementos-imagenes">
          <div id="adjuntar-archivo">
            <div id="adjuntar-archivo-buttom">
              <button class="subirArchivo">Subir imágenes</button>
            </div>
          </div>
          <div id="archivos-para-adjuntar">
            <div class="elementos-adjuntos">
              <p>Registro social de hogares.pdf</p>
            </div>
            
            <div class="elementos-adjuntos elementos-adjuntos-vertical">
              <p>SII.pdf</p>
            </div>

            <div class="elementos-adjuntos elementos-adjuntos-vertical">
              <p>patente.pdf</p>
            </div>

            <div class="elementos-adjuntos elementos-adjuntos-vertical">
              <p>sanidad.pdf</p>
            </div>

          </div>

        </div>
        <div id="botones-enviar-formulario">
          <button type="submit" id="registrarse">Editar</button>
          <button id="cancelar">cancelar</button>
          
        </div>
    </div> 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../public/js/nav-vertical-move.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>