<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/registro.css" type="text/css">
    <title>Index</title>
  </head>
  <body>
    <div id="contenedor-pagina">
      <nav id="navbar">
          <div class="container-fluid">
            <div class="row">
              <div class="col-3 col-navbar">
                <H1>LOGO</H1>
              </div>
              <div class="col-2 col-navbar">
                <a href="/">inicio</a>
              </div>
              <div class="col-2 col-navbar">
                <a href="/">emprendimientos</a>
              </div>
              <div class="col-3 col-navbar">
                <a href="#">ya está registrado?</a>
              </div>
              <div class="col-2 col-navbar">
                <div id="iniciar-sesion-buttom">
                  <a href="/login">Iniciar Sesion</a>
                </div>
              </div>
            </div>
          </div>
      </nav>
      <div id="registro">
        <div id="titulo-registro">
          <h1>Registro</h1>
        </div>
        <div id="titulo-formulario">
          <h2>Terminos y condiciones</h2>
        </div>

        <form id="formulario" class="container-fluid" action="/registroC" method="post">
          <textarea id="terminosCondiciones" readonly>Términos y condiciones.

            El Vendedor declara y garantiza que:
            a.	Se dedica, entre otras cosas, a la comercialización de los Productos, los cuales han sido adquiridos con recursos provenientes de actividades lícitas y han sido introducidos a territorio chileno y al mercado de manera legal, en estricta observancia de las leyes y reglamentos aplicables, siendo todos ellos originales y cumpliendo los controles de calidad que las leyes establecen.
            b.	Los derechos respecto de los diseños, marcas, logos e imágenes que se solicite incorporar en el portal serán de su propiedad, o contará con la correspondiente licencia sobre los mismos, y se obliga a no infringir derechos intelectuales e industriales o de cualquier otro tipo de terceros con ocasión de la oferta y comercialización de los Productos en el Portal
            c.	Cuenta con la documentación necesaria para acreditar la legalidad y validez de los productos que comercializará a través de la plataforma, toda vez que los mismos han sido o serán adquiridos en establecimientos autorizados por las marcas originales de los productos y han sido legalmente importados o exportados a territorio chileno.
            d.	Los Productos han sido diseñados y fabricados de conformidad con las leyes del país en que se encuentran registrados.
            e.	Los Productos cumplen con todas las especificaciones de calidad requeridas para su comercialización bajo las leyes de la República de Chile, incluyendo sin limitarse a ello, los registros y permisos sanitarios aplicables.
            f.	No se encuentra en ninguna lista de personas reportadas o bloqueadas por actividades de cohecho, narcotráfico, lavado de activos, subversión, terrorismo, tráfico de armas o delitos asociados al turismo sexual en menores de edad y no ha sido condenado o se encuentra formalizado por el delito de receptación.
            g.	El Vendedor es único y absoluto responsable por la carga de la información referente a los Productos en la Plataforma, lo que significa que deberá cerciorarse y hacerse responsable de las especificaciones, contenido y descripción de los mismos cargadas en él. Cualquier error o falta de información en la descripción y contenido en el que incurra el Vendedor ya sea por acción u omisión, sea que exista o no reclamo, queja, devolución o perjuicio al cliente, dará derecho al Municipio a eliminar el producto del Portal.
            h.	La Municipalidad no asumirá responsabilidad alguna por información incorrecta recibida e incluida en el Portal aun cuando intervenga para realizar correcciones o mejoras en la descripción o contenido, por lo que es entera responsabilidad del Vendedor revisar constantemente todo lo referente a sus productos. 
            i.	La municipalidad prohíbe expresamente y sin excepciones la publicación de productos farmacéuticos o medicamentos, entendidos de acuerdo al Reglamento como cualquier sustancia que se destine al ser humano con fines de curación, atenuación, tratamiento, prevención o diagnóstico de las enfermedades o sus síntomas, para modificar sistemas fisiológicos o el estado mental en beneficio de la persona a quien le es administrado.
            
            
            
            
            
            Generalidades.
            a.	Impuestos: el Vendedor será responsable exclusivo de la declaración, recaudo y pago de todos sus impuestos, incluidos los aranceles aplicables.
            b.	Idioma: el idioma del presente acuerdo y de sus documentos adicionales es el español, que en cualquier caso prevalecerá sobre traducciones o versiones en otro idioma.
            c.	Uso del sitio web: El diseño de este sitio web y todo el texto, gráficos, información, contenido, y otros materiales dispuestos o que pueden ser descargados desde el sitio web son protegidos con derecho de autor, marcas comerciales y otras leyes de propiedad intelectual aplicables. Los contenidos de este sitio web son propiedad de la Universidad de Valparaíso con traspaso de uso al Municipio de Cartagena. Todo uso no autorizado de información puede violar las leyes de derecho de autor, leyes de marca registrada, leyes de privacidad y publicidad, y otras leyes y regulaciones.
            d.	Cierre de su cuenta: El Municipio pueden suspender o terminar su cuenta o su uso en este sitio web en cualquier momento, con o sin motivo. Usted es personalmente responsable por cualquier orden puesta en nuestro sitio web o cargo incurrido por medio de su cuenta antes del cierre de esta. Nosotros nos reservamos el derecho a cambiar, suspender o discontinuar todo o cualquier aspecto de este sitio web en cualquier momento sin notificación.
            e.	Compras: Todas las compras y transacciones son acciones entre particulares/privados, las cuales están sujeta a la legislación vigente en cuanto a esta acción que se realicen en este sitio. A su vez este sitio es solo para difusión local y no así para efectos de compra (Mejorar).
            f.	Links a terceras partes: Este sitio web contiene links a otros sitios que no son propiedad Municipal y que no necesariamente cumplen con la legislación vigente y con los estándares de seguridad adecuados. Todos estos links son provistos solamente para conveniencia de los clientes y la conexión a estos es de exclusiva responsabilidad del Usuario.
            g.	Material inapropiado: Está prohibido postear o transmitir cualquier material ilegal, amenazador, difamatorio, calumnioso, obsceno, profano o pornográfico, o cualquiera que pudiera constituir o animar conductas que pudieran ser consideradas criminales o llevar responsabilidad civil, o cualquier violación de la ley. En suma, a cualquier solución que podamos encontrar en la ley o de común acuerdo, si determinamos, en exclusiva discreción, que usted ha violado o probablemente violado alguna prohibición, nosotros podremos tomar cualquier acción y estimar solucionar o prevenir la infracción, y sin limitación, remover el material relacionado en el sitio web. Estamos dispuestos a cooperar con cualquier autoridad en el cumplimiento de ley o requerimiento de citación o direccionarnos a abrir la identidad de todos quienes postearon tal material.
            h.	Exactitud de la información: El Municipio se esfuerza en revisar periódicamente que la información publicada en este sitio web sea completa, exacta y actualizada. A pesar de nuestros esfuerzos, la información en este sitio web puede ser imprecisa, incompleta u obsoleta. El Municipio no se hace responsable por información incompleta, imprecisa o no actual en este sitio web. Por ejemplo, productos incluidos en el sitio web podrían no estar disponibles, podrían tener distintos atributos a los que son listados, o podrían llevar un precio distinto al que se señala la página. Adicionalmente, el vendedor puede hacer cambios sobre precios y existencias sin notificación alguna al cliente. 
            
            i.	Información del usuario: Aparte de información personal identificable, cual es susceptible a las políticas de privacidad de este sitio web, cualquier material, información, sugerencia, idea, concepto, know-how, técnicas, preguntas, comentario u otra comunicación que se trasmita o postee en este sitio web en cualquier manera ("comunicación de usuario") es y será considerada como no confidencial y sin derecho de propiedad. Nosotros y nuestros respectivos afiliados o sus designados pueden usar cualquier comunicación de los usuarios para cualquier propósito, incluyendo, sin excepción, reproducción, transmisión, publicación, desarrollo, fabricación y/o marketing de cualquier tipo con propósitos comerciales o no. Podemos, pero no estamos obligados a monitorear o revisar cualquier comunicación de usuario. No estamos obligados a usar, retornar, revisar, o responder a cualquier comunicación de usuario. Nosotros no tenemos responsabilidad relacionada con el contenido de cualquier comunicación de usuario, si emergieron o no bajo las leyes del derecho de autor, difamación, privacidad, obscenidad u otro. Nos reservamos el derecho de remover cualquier o toda comunicación que incluya material que consideremos inapropiado o inaceptable.
            j.	 Descargo de responsabilidades: El uso de este sitio web es de su responsabilidad. La información, material y servicio provistos por medio de este sitio web es provisto "como es" sin ninguna garantía de mercantibilidad, idoneidad para un particular propósito, o no violación de propiedad intelectual. El Municipio, ni cualquiera de sus afiliados garantiza la exactitud o completitud de la información, material o servicios provistos a través de este sitio web. Todos los productos y servicios comprados a través de este sitio web están sujetos a garantías aplicables de sus respectivos fabricantes o vendedores, si los hay. Hasta donde sea permisible por ley aplicable, nosotros por la presente renunciamos a toda garantía, explícita o implícita respecto a los productos que han sido mal utilizados, abusados, modificados, seleccionados incorrectamente y/o no cumplan con alguna norma en particular. Las exclusiones precedentes de garantías implícitas no se aplican al grado prohibido por la ley.
            k.	Límite de responsabilidad: El Municipio no asume responsabilidad por cualquier daño que pueda afectar su computador, equipamiento de telecomunicaciones, u otra propiedad causado por el mal uso este sitio web o por la intervención de terceros no autorizados por el Municipio para modificar el sitio web. En ningún caso el Municipio o cualquiera de sus respectivos funcionarios, directores, colaboradores, accionistas, afiliados, socios, agentes, ni cualquier parte involucrada en la creación, producción y transmisión de este sitio web, será responsable de cualquier pérdida en forma indirecta o daños consecuenciales (incluyendo, sin límite, resultados de pérdida de ganancias, pérdidas de datos o interrupción de negocios) surgido del uso, inhabilidad, o el resultado del uso de este sitio web o de los productos que este comercializa, o de cualquier otro sitio enlazado con éste, o el material, información o servicios contenidos en alguna o en todas páginas de este sitio web.
            l.	Revisión de estos términos:  Estos términos de servicio pueden ser revisados y actualizados sin previo aviso. Usted es responsable de visitar la página y revisar los actuales términos de servicio.
            m.	Asistencia adicional: Si usted tiene dudas sobre cualquiera de los precedentes términos de servicio, o si tiene cualquier pregunta o comentario, le invitamos a contactarse con nosotros a XXXXX@municipalidaddecartagena.cl
            n.	Declaración de Privacidad : El Municipio asegura que los datos personales serán manejados en forma absolutamente confidencial y conforme lo dispone la legislación vigente. El formulario "Regístrate" de nuestro sitio web, pide a los usuarios información como su nombre, dirección electrónica, dirección física y número telefónico. Esta información es usada para responder las consultas acerca de los procesos de apoyo al desarrollo económico local en la Comuna de Cartagena, pero en ningún caso la publicación, venta o difusión de esta información confidencial.
            o.	Datos Personales: El usuario dispondrá en todo momento de los derechos de información, rectificación y cancelación de los datos personales conforme a la Ley Nº 19.628 sobre protección de datos de carácter personal. Asimismo, si deseas modificar tu información personal, lo puedes hacer utilizando algunos de los siguientes canales de comunicación:	Enviando un correo electrónico a  XXXXXXXX@municipalidaddecartagena.cl
            </textarea>

          <div id="botones-enviar-formulario">
            <a id="siguiente" href="">Aceptar</a>
            <a id="siguiente" href="">Rechazar</a>
              <!-- <a href="#">registrarse</a> -->
          </div>
        </form>
      </div>

      </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="../public/js/TerminosCondiciones.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


