<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/registro.css" type="text/css">
    <title>Registro</title>
  </head>
  <body>
    <nav id="navbar">
      <div id="inicio" class="opciones-nav">
        <a href="/">Inicio</a>
      </div>
      <div id="emprendimientos" class="opciones-nav">
        <a href="#">Emprendimientos</a>
      </div>
      <div id="promocionar" class="opciones-nav">
        <a href="/registro">Quiero promocionar mi<br> emprendimiento</a>
      </div>
      <div id="div-iniciar-sesion">
        <div id="iniciar-sesion-buttom">
          <a href="/login">Iniciar Sesion</a>
        </div>
      </div>
    </nav>
    <div id="contenedor-pagina">
      <div id="registro">
        <div id="titulo-registro">
          <h1>Registro</h1>
        </div>
        <div class="titulo-formulario">
          <h2>Emprendedor ingrese sus datos</h2>
        </div>
        <div class="titulo-formulario">
          <h2>Datos pyme</h2>
        </div>

        <form id="formulario" class="container-fluid" action="/registroF" method="post">

          <div class="row">
            <div class="col-3">
              <INPUT class="datos-formulario" type="text" name="Nombre_pyme" placeholder="Nombre pyme">
            </div>
            <div class="col-3">
              <select name="tipoTienda" class="datos-formulario" aria-placeholder="Empresa registrada(si/no)">
                <option  value="" disabled selected hidden>Tipo Tienda</option>
                <option value="1">Tienda fisica</option>
                <option value="2">Tienda virtual</option>
                <option value="3">Ambas</option>
              </select>
            </div>
            <div class="col-3">
              <select name="Empresa_registrada" class="datos-formulario" aria-placeholder="Empresa registrada(si/no)">
                <option  value="" disabled selected hidden>Empresa registrada</option>
                <option value="1">Si</option>
                <option value="2">No</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <select name="Medio_pago" class="datos-formulario" aria-placeholder="Empresa registrada(si/no)">
                <option value="" disabled selected hidden>medio de pago</option>
                <option value="1">Efectivo</option>
                <option value="2">Tarjetas</option>
                <option value="3">Transferencia</option>
              </select>
            </div>
            <div class="col-3">
              <select name="Medio_entrega" class="datos-formulario" aria-placeholder="Medio entrega">
                <option  value="" disabled selected hidden>Medio entrega</option>
                <option value="1">En tienda</option>
                <option value="2">Delivery</option>
                <option value="3">Ambas</option>
              </select>
            </div>
            <div class="col-3">
              <INPUT class="datos-formulario" type="text" name="Horario" placeholder="Horario">
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <INPUT class="datos-formulario" type="text" name="Sitio_web" placeholder="Sitio web">
            </div>

            <div class="col-3">
              <INPUT class="datos-formulario" type="text" name="Facebook" placeholder="Facebook">
            </div>
            <div class="col-3">
              <INPUT class="datos-formulario" type="text" name="Instagram" placeholder="Instagram">
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="hidden"  name="Rut" value='<%=InfoRut[0].Rut%>'>
            </div>

            <div class="col-3">
              <INPUT class="datos-formulario" type="text" name="Whatsapp" placeholder="Whatsapp">
            </div>
            <div class="col-3">
              
            </div>
          </div>



          <INPUT id="descripcion" type="text" name="Descripcion" placeholder="descripcion">
          <div id="botones-enviar-formulario">
            <input id="siguiente" type="submit" class="btn btn-primary">
            <a id="siguiente" href="https://api.whatsapp.com/send?phone=967691029&text=Hola,%20necesito%20ayuda%20en%20el%20formulario%20de%20inscripci%C3%B3n.">Ayuda</a>
              <!-- <a href="#">registrarse</a> -->
          </div>
        </form>
      </div>

      </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>


