

#navbar{
    height: 80px;
    background-color:#97d700;
}
.col-3 img{
    width: 200px;
    height: 50px;
    margin-top:10px;
}

#navbar .container-fluid .row {
    height: 70px;
}

#navbar .container-fluid .row .col-navbar{
    padding-top: 20px;
}

#navbar .container-fluid .row .col-navbar a{
    color:white;
}


#iniciar-sesion-buttom{

    background-color: black;
    border: 1px solid beige;

    font-weight: 400;
    text-align: center;
    width:150px;
    height: 30px;
}

#navbar .container-fluid .row .col-navbar #iniciar-sesion-buttom a{
    color:beige;
}


@media (min-width: 1090px){
    #descripcion-pyme{
        height: 700px;
        width: 90%;
        margin:0 auto;
        display:flex;
    }
    #navbar-android{
        display: none;
    }
    .opciones-menu{
        display:none;
    }

    #inicio{
        width: 20%;
        padding-top: 30px;
    }
    #emprendimientos{
        width: 35%;
        padding-top: 30px;
    }
    #promocionar{
        width: 40%;
        padding-top: 15px;
        padding-left: 40px;
    }
    .opciones-nav{
        padding-left: 40px;
        padding-top:10px;
    }
    .opciones-nav a{
        color:white;
        text-decoration: none;
        font-size: 20px;
    }
    #div-iniciar-sesion{
        width:28%;
        padding-top: 30px;
    }
    #iniciar-sesion-buttom{
        background-color:#EF3340;
        border: 1px solid #97d700;
        text-align: center;
        margin-top: 30px;
        width:150px;
        height: 30px;
        margin:0 auto;   
    }
    #iniciar-sesion-buttom a{
        color:white;
        text-decoration: none;
    }
}


@media (max-width: 1090px){
    #descripcion-pyme{
        height: 500px;
        width: 880px;
        margin:0 auto;
    }
    #navbar-android{
        width: 100%;
        height:65px;
        background-color: #97d700;
        display:block;
    }
    .opciones-menu{
        background-color:#EF3340;
        height: 0px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        transition:all 300ms cubic-bezier(0.0785, 0.135, 0.15, 0.86);
    }
    .opciones-menu a {
        text-decoration: none;
        color:white;
    }
    .opciones-menu a li{
        list-style: none;
        margin-bottom: 20px;
    }
    #icono-desplegable{
        width:80px;
        height:100%;
        background-color: #97d700;
        text-align: center;
        color:white;
        font-size: 40px;
    }
    #icono-desplegable i{
        cursor: pointer;
    }
    #navbar{
        display:none;
    }

}

#fotos-perfil{
    height: 80%;
    width: 50%;
    border: solid 2px rgb(197, 190, 190);
}

#imagen-principal{

    height: 70%;
    background-color: beige;
}
#imagenes-secundarias{
    height: 30%;
    width: 100%;
    display:flex;
    background-color: beige;
}
.imagen-secundaria{

    height: 100%;
    width: 25%;
    background-color: beige;
    border: solid 3px white;
}


#descripcion-perfil{
    height: 100%;
    width: 50%;
}

#nombre-emprendimiento{
    height: 60px;
    width: 100%;
    text-align:center;
    padding-top: 20px;
}
#categorias-emprendimiento{
    height: 100px;
    width: 80%;
    text-align:center;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    padding-left: 80px;
    border-bottom: solid 1px rgb(122, 117, 117);
}

.categoria{
    height: 50px;
    width: 100px;
    background-color: rgb(31, 66, 82);
    color:white;
    text-align:center;
    margin-left: 10px;

}

#datos-emprendimiento{
    height: 230px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    border-bottom: solid 1px rgb(122, 117, 117);
    display: flex;
    
}
.dato{
    height: 100%;
    width: 50%;
}
#descripcion-emprendimiento{
    height: 170px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;

}
#botones-redireccion{
    height:50px;
    width:100%;
    display:flex;

}
.boton-redireccion,.boton-redireccion-pagina{
    height: 40px;
    width:150px;
    background-color: rgb(31, 66, 82);
    border: solid 1px rgb(31, 66, 82);
    margin: 0 auto;
    text-align: center;
    padding-top: 7px;
}
.boton-redireccion-pagina{
    margin-top: 20px;
}

.boton-redireccion a,.boton-redireccion-pagina a{
    text-decoration: none;
    color:white;
}
/*javascript*/
@media (max-width: 1090px){
    .nav_side{
        height: 200px;
        padding-top:20px;
    }
}