@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin:0;
    padding:0;

}
.nav-vertical{
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    transition:all 300ms cubic-bezier(0.0785, 0.135, 0.15, 0.86);

}
#div-menu-icono{
    background-color:#EF3340;
    width: 100%;
    height: 90px;
    text-align: center;
    padding-top: 30px;
    color:white;

}
#div-menu-icono i{
    font-size: 40px;
    cursor:pointer
}


#opciones-menu{
    padding-top:20px;
    padding-left:30px;
    background-color:#EF3340;
    height: 100%;
    position:relative;
    overflow:hidden;
    border-right:30px solid #EF3340;
    
}

#opciones-menu .opcion{
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    position:relative;
    display:flex;
    margin-top: 20px;

}

#opciones-menu a{
    color:white
}


#opciones-menu .opcion h4{
    margin-left:20px;
}



#contenido{

    background-color: white;
    margin-left:90px;
    width:1219px;
    height: 900px;
}

#horizontal{
    width:100%;
    height: 90px;
    display:flex;
    background-color: #97d700;
    border-bottom: 2px solid #C3C3C3;
}

#usuario{
    display:flex;
    width: 300px;
    margin-left: 900px;
}
#bloque-usuario-texto{
    width:100%;
    height:50%;
}

#usuario-texto{
    text-align: right;
    padding-top: 5px;
    width:60%;
    height: 100%;
}

#usuario-texto #Administrador, #usuario-texto #Account{
    font-size: 30px;
    color:white;
    text-decoration:none;
}
#usuario-texto #Account{
    font-size: 20px;
}

#foto-usuario{
    padding-left: 10px;
    padding-top: 10px;
    width:40%;
    height: 100%;
}

#div-foto{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid 1px white;
    cursor:pointer;
}
#descripcion-pyme{
    height: 540px;
    width: 90%;
    margin:0 auto;
    margin-top: 30px;
    display:flex;
}

#fotos-perfil{
    height: 100%;
    width: 50%;
    border: solid 2px rgb(197, 190, 190);
}

#imagen-principal{

    height: 70%;
    background-color: beige;
}
#imagen-principal img{
    width: 100%;
    height: 100%;
}
#imagenes-secundarias{
    height: 30%;
    width: 100%;
    display:flex;
    background-color: beige;
}
.imagen-secundaria{

    height: 100%;
    width: 25%;
    background-color: beige;
    border: solid 3px white;
}
.imagen-secundaria img{
    width: 100%;
    height: 100%;
}


#descripcion-perfil{
    height: 100%;
    width: 50%;
}

#nombre-emprendimiento{
    height: 60px;
    width: 100%;
    text-align:center;
    padding-top: 20px;
}
#categorias-emprendimiento{
    height: 90px;
    width: 80%;
    text-align:center;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    padding-left: 80px;
    border-bottom: solid 1px rgb(122, 117, 117);
}

.categoria{
    height: 50px;
    width: 100px;
    background-color: rgb(31, 66, 82);
    color:white;
    text-align:center;
    margin-left: 30px;

}

#datos-emprendimiento{
    height: 230px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    border-bottom: solid 1px rgb(122, 117, 117);
    display: flex;
}
.dato{
    height: 100%;
    width: 50%;
}
#descripcion-emprendimiento{
    height: 170px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;

}

.col-datos-representante{
    margin-top:20px;
    margin-left: 40px;
}
.datos-representante{

    height: 50px;
    width: 300px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 20px;
    border:solid 2px rgb(141, 137, 137)
}
.datos-representante a{
    text-decoration: none;
    color: black;
}
.col-descargar-documentos{
    margin-top:40px;
    margin-left: 190px;
}
#botones-filtro{
    height:100px;
    width:70%;
    display:flex;
    margin:0 auto;
    padding-left: 150px;
    padding-top: 40px;
}
.boton-filtro{
    height: 40px;
    width:150px;
    margin-left: 40px;

}

.botones-moderador{
    width: 100%;
    height: 100%;
    background-color: #EF3340;
    border: 2px solid #EF3340;
    color:white;    
}

.comentarios-lectura{
    width: 50%;
    height: 150px;
    margin-top: 40px;
    margin-left: 300px;
}

/*javascript*/
.nav_side{
    width:200px;
}