#contenedor-pagina{

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#navbar{
    background-color: #97d700;
    height: 100px;
    display: flex;
}

@media (min-width: 770px){
    #navbar-android{
        display: none;
    }
    .opciones-menu{
        display:none;
    }

    #inicio{
        width: 20%;
        padding-top: 30px;
    }
    #emprendimientos{
        width: 35%;
        padding-top: 30px;
    }
    #promocionar{
        width: 40%;
        padding-top: 15px;
        padding-left: 40px;
    }
    .opciones-nav{
        padding-left: 40px;
    }
    .opciones-nav a{
        color:white;
        text-decoration: none;
        font-size: 20px;
    }
    #div-iniciar-sesion{
        width:28%;
        padding-top: 30px;
    }
    #iniciar-sesion-buttom{
        background-color:#EF3340;
        border: 1px solid #97d700;
        text-align: center;
        margin-top: 30px;
        width:150px;
        height: 30px;
        margin:0 auto;   
    }
    #iniciar-sesion-buttom a{
        color:white;
        text-decoration: none;
    }
}
@media (max-width: 770px){
    #navbar-android{
        width: 100%;
        height:65px;
        background-color: #97d700;
        display:block;
    }
    .opciones-menu{
        background-color:#EF3340;
        height: 0px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        transition:all 300ms cubic-bezier(0.0785, 0.135, 0.15, 0.86);
    }
    .opciones-menu a {
        text-decoration: none;
        color:white;
    }
    .opciones-menu a li{
        list-style: none;
        margin-bottom: 20px;
    }
    #icono-desplegable{
        width:80px;
        height:100%;
        background-color: #97d700;
        text-align: center;
        color:white;
        font-size: 40px;
    }
    #icono-desplegable i{
        cursor: pointer;
    }
    #navbar{
        display:none;
    }

}
#logo-municipalidad img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

#navbar .container-fluid .row .col-navbar #iniciar-sesion-buttom a{
    color:beige;
}

#bienvenido{
    background-color: white;
    border-bottom: 1px solid #9E9E9E;
    text-align: center;
    font-family: sans-serif;
    width: 80%;
    height: 600px;

}
#logo-municipalidad{
    width: 150px;
    height: 170px;
    background-color: white;
    margin:0 auto;

    margin-bottom: 70px;
}

#buscar{
    background-color: white;
    border:2px solid rgb(121, 121, 119); 

    margin-top: 50px;
    padding-left: 20px;

    width:300px;
    height: 40px;
}

#buscar-buttom{

    background-color: #EF3340;
    border: 1px solid beige;
    color:beige;
    
    font-weight: 400;

    width:95px;
    height: 40px;

}

#categorias{
    background-color: white;
    border-bottom: 1px solid #9E9E9E;

    text-align: center;
    font-family: sans-serif;
    padding-top: 50px;

}

.rowCategorias{
    height: 200px;
    display: flex;
}

.categoria{
    border: 1px solid #9E9E9E;
    background-color: white;
    height: 50px;
    width:100px;
    margin:0 auto;
}



#emprendimientos-locales{

    background-color: white;
    font-family: sans-serif;

    height: 450px;
    padding-top: 50px;

}

#emprendimientos-locales h2{
    
    margin-left: 50px;
    margin-bottom: 30px;
}

#emprendimientos-locales .row{
    background-color: beige;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    height: 120px;
}

#emprendimientos-locales .row .col-emprendimientos-locales{
    padding-top: 20px;
}
#footer-index{
    width: 100%;
    height:150px;
    border-top: 1px solid rgb(134, 134, 134);
    
}
#footer-index{
    padding-top:60px;
    padding-left:60px;

}
#formulario-satisfaccion{
    background-color:#EF3340;
    border: 1px solid #97d700;
    text-align: center;
    width:300px;
    height: 30px;  
}
#formulario-satisfaccion a{
    color:white;
}
/*javascript*/
@media (max-width: 770px){
    .nav_side{
        height: 200px;
        padding-top:20px;
    }
}